/* DIY Fonts */

.playwrite-au-sa-<uniquifier> {
    font-family: "Playwrite AU SA", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.outfit-<uniquifier> {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

html {
    font-family: Outfit;
    font-size: 15px;
}

body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* 1440 */
/* 1024 */
/* 850  */

.container1 {
    background-color: white;
    border: 5px white solid;
    border-radius: 10px;
    width: calc(2 / 9 * 100vw);
    padding: 12px;
    display: flex;
    flex-direction: column;
}

.outline1 {
    /* border: white solid 3px; */
    width: 100%;
    /* overflow: auto; */
}

.outline1 img{
    border-radius: 10px;
    max-width: 100%;
}

.container1 > h1 {
    padding: 0 10px;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1.5rem;
    text-align: center;
}

.para {
    color: hsl(216, 15%, 48%);
    font-size: 1rem;
    padding: 0 10px;
    margin: 10px;
    text-align: center;
    font-weight: 400;
}

.attribution {
    font-size: 1.5rem;
    text-align: center;
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%,0);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width:1024px){
    .container1 > h1 {
        font-size: 1.2rem;
    }
    .para {
        font-size: 0.75rem;
    }
    .attribution{
        font-size: 1rem;
    }
}

@media screen and (max-width:860px){
    .container1 > h1 {
        font-size: 0.9rem;
        padding: 8px;
    }
    .para {
        font-size: 0.6rem;
        margin: 6px;
    }
    .attribution{
        font-size: 0.75rem;
    }
}

@media screen and (max-width:680px){
    .container1 > h1 {
        font-size: 0.7rem;
        padding: 6px;
        margin: 0.6em 0;
    }
    .para {
        font-size: 0.5rem;
        margin: 3px;
    }
    .attribution{
        font-size: 0.6rem;
    }
}

@media screen and (max-width:570px){
    .container1{
        padding: 8px;
    }
    .container1 > h1 {
        font-size: 0.5rem;
        padding: 0;
        margin: 0.5em 0;
    }
    .para {
        font-size: 0.4rem;
        margin: 0;
        padding:0 3px;
    }
    .attribution{
        font-size: 0.4rem;
    }
}

.downloader {
    /* float: left; */
    position: fixed;
    top: 30px;
    left: 30px;
    width: 130px;
    font-family: Outfit;
    font-size: 1rem;
}

