/* DIY Fonts */

.playwrite-au-sa-<uniquifier> {
    font-family: "Playwrite AU SA", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.outfit-<uniquifier> {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

html {
    font-family: Outfit;
    font-size: 15px;
}

body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* 1440 */
/* 1024 */
/* 850  */

.container1 {
    background-color: white;
    border: 5px white solid;
    border-radius: 10px;
    width: calc(2 / 9 * 100vw);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.outline1 {
    /* border: white solid 3px; */
    width: 100%;
    /* overflow: auto; */
}

.outline1 img{
    border-radius: 10px;
    max-width: 100%;
}

.container1 > h1 {
    color: hsl(218, 44%, 22%);
    letter-spacing: 1px;
    text-align: center;
    font-weight: 700;

    font-size: 1.5rem;
    margin: 1rem;
}

.para {
    color: hsl(216, 15%, 48%);
    text-align: center;
    font-weight: 400;

    font-size: 1rem;
    margin: 1rem 1.5rem;
}

.attribution {
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%,0);
    text-align: center;

    width: 60vw;
    font-size: 1.5rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width:1280px){
    .container1{
        padding: 1.3rem;
    }
    .attribution{
        font-size: 1.3rem;
    }
}

@media screen and (max-width:1160px){
    .container1{
        padding: 1.1rem;
    }
    .container1 > h1 {
        font-size: 1.3rem;
    }
    .attribution{
        font-size: 1rem;
    }
}

@media screen and (max-width:950px){
    .container1{
        padding: 0.8rem;
    }
    .container1 > h1 {
        margin: 0.8rem  1rem;
        font-size: 1.1rem;
    }
    .para{
        margin: 0.8rem 1rem;
        font-size: 0.8rem;
    }
    .attribution{
        font-size: 0.8rem;
    }
}

@media screen and (max-width:860px){
    .container1{
        padding: 0.55rem;
    }
    .container1 > h1 {
        margin: 0.5rem  1rem;
        font-size: 0.8rem;
    }
    .para {
        margin: 0.5rem  1rem;
        font-size: 0.6rem;
    }
    .attribution{
        font-size: 0.7rem;
    }
}

@media screen and (max-width:680px){
    .container1{
        padding: 0.2rem;
    }
    .container1 > h1 {
        font-size: 0.7rem;
        margin: 0.5rem 0.6rem;
    }
    .para {
        font-size: 0.5rem;
        margin: 0.5rem 0.6rem;
    }
    .attribution{
        font-size: 0.6rem;
    }
}

@media screen and (max-width:570px){
    .container1{
        /* padding: 0.2rem; */
        width: calc(4/18 * 100vw);
    }
    .container1 > h1 {
        font-size: 0.6rem;
        margin: 0.3rem 0.4rem;
    }
    .para {
        font-size: 0.4rem;
        margin: 0.3rem 0.4rem;
    }
    .attribution{
        font-size: 0.4rem;
    }
}

@media screen and (max-width:480px){
    .container1{
        padding: 0.1rem;
    }
    .container1 > h1 {
        font-size: 0.4rem;
        margin: 0.2rem 0.4rem;
    }
    .para {
        font-size: 0.3rem;
        margin: 0.2rem 0.4rem;
    }
    .attribution{
        font-size: 0.4rem;
    }
}

.downloader {
    /* float: left; */
    position: fixed;
    top: 30px;
    left: 30px;
    width: 130px;
    font-family: Outfit;
    font-size: 1rem;
}

